<article class="<%= item.layout %>">
  <% if (item.photos && item.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <% if (item.layout != 'page'){ %>
        <div class="icon"></div>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
		<% if (item.updated){ %>
			<span class="updated" title="Post Updated"><span><%= item.updated.format(config.date_format) %></span></span>
        <% } %>
		<div class="github-improve"><a href="https://github.com/bravo-kernel/bravo-kernel.github.io/tree/source/source/<%= item.source %>">Improve on Github</a></div>
      <% } %>
      <%- partial('post/title') %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <footer>
      <% if (index){ %>
        <% if (item.excerpt){ %>
          <div class="alignleft">
            <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
          </div>
        <% } %>
        <% if (item.comment && config.disqus_shortname){ %>
        <div class="alignright">
          <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
        <% } %>
      <% } else { %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>

<%- partial('comment') %>
